@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url('/BROKABG.svg'); /* replace with your filename */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
