version: "3.9"

services:
  db:
    image: postgres:16
    container_name: brokazero_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: avpw7
      POSTGRES_DB: brokazero
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
     

volumes:
  postgres_data:
